button:focus {
  outline-style: none
}

.main {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  overflow: scroll;
  background-color: black;
}

::-webkit-scrollbar {
  display: none;
}

.coverlinkti {
  order: 1;

  width: 100vw;
  height: calc(var(--vh, 1vh) * 100);
  
  display: flex;
  align-items: center;
  justify-content: center;

  background-image: linear-gradient(#fdfbfb, #ebedee);
  background-size: auto 100%;

  background-size: cover;

}

.bground {
  order: 2;

  width: 100vw;
  height: 100vh;
  color: black;

  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  flex-wrap: wrap;

  background-image: linear-gradient(#fdfbfb, #ebedee);

}


.cground {
  order: 3;

  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: white;

}

.aboutr {
  order: 3;

  display: flex;

  justify-content: flex-start;
  align-content: base-line;
  align-items: center;
  flex-direction: row;

  align-items: center;
  padding-left: 2vw;

  width: 100vw;
  height: 100vh;
  text-align: left;
  font-size: 25px;
  color: black;

  background-image: linear-gradient(#fdfbfb, #ebedee);
  background-size: cover;

}

.aboutText {
 width: 35%;
 padding: 3%;
 margin-left: 5%;
}





.arrow {
  position: absolute;
  top: 93%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.arrow span {
  display: block;
  width: 30px;
  height: 30px;
  border-bottom: 5px solid black;
  border-right: 5px solid black;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}



.arrow span:nth-child(2) {
  animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
  animation-delay: -0.4s;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}



nav.sidebar-menu-collapsed {
  width: 350px;
}

.expanded-element {
  visibility: hidden;
}



nav.sidebar {
  position: fixed;
  top: calc(var(--vh, 1vh) * 38.75);
  right: 10px;
  height: calc(var(--vh, 1vh) * 100);
  text-align: right;
  color: white;
  padding: 20px 10px;
  mix-blend-mode: difference;

}


nav.sidebar a#justify-icon {
  outline: 0;
  color: white;
  font-size: 24px;
  font-style: normal;
}


nav.sidebar ul {
  margin: 0;
  padding: 0;
  margin-top: 60px;
}

nav.sidebar ul li {
  margin: 0;
  padding: 0;
  margin-top: 20px;
  list-style-type: none;
}

nav.sidebar ul li a.expandable {
  outline: 0;
  color: white;
  text-decoration: none;
  font-size: 20px;
}











.cardTitle {


  height: auto;

  font-size: 55px;

}

.cardContainer {

  width: 85%;
  max-width: 1400px;

  height: 50%;
  margin-bottom: 15%;

  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.card {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  max-width: 23%;
  height: 20vh;
  margin: 1%;
}









.card img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
  overflow: hidden;
}

.card {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}






